{
    "step_size": 0.2,
    "seed_density": 1,
    "pmf_threshold": 0.1,
    "max_angle": 20.0,
    "pft_back": 2,
    "pft_front": 1,
    "pft_count": 15,
    "peaks": "testdata/peaks.pam5",
    "wm": "testdata/wm.nii.gz",
    "gm": "testdata/gm.nii.gz",
    "csf": "testdata/csf.nii.gz",
    "seeds": "testdata/mask.nii.gz"
}
