{
    "command": "dipy_track_pft",
    "step_size":0.2,
    "seed_density":1,
    "pmf_threshold":0.1,
    "max_angle":20.,
    "pft_back":2,
    "pft_front":1,
    "pft_count":15,
    "peaks":"",
    "wm":"",
    "gm":"",
    "csf":"",
    "seed":"",
}
